{% extends 'base.html.twig' %}

{% block title %}{{ "new / " ~ lesson.course.name ~ ' / ' ~ parent() }}{% endblock %}

{% block body %}
    <h1>Создание урока</h1>
	<h5>Курс
		<a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">{{ lesson.course.name }}</a>
	</h5>

    {{ include('lesson/_form.html.twig') }}

{% endblock %}
