{% extends 'base.html.twig' %}

{% block body %}
    <h1>Something went wrong </h1>
    <p>
        *Prod dies from cringe* <a href="{{ path('app_course_index') }}"> return to the homepage</a>.
    </p>
{% endblock %}