{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forbidden</h1>
    <p>
        Go away. You are not welcome here. <a href="{{ path('app_course_index') }}"> Return to the homepage</a>.
    </p>
{% endblock %}